
/*
.bi-facebook:hover {
    color: blue !important;
    background-color: white;
}
*/

/* fonts */
@font-face {
    font-family: 'Diwani';
    src: url('./fonts/arfonts-samt-7017.ttf') format('truetype');
}
@font-face {
    font-family: 'Maghribi';
    src: url('./fonts/maghribi.ttf') format('truetype');
}
@font-face {
    font-family: 'arabic-hand';
    src: url('./fonts/hand-arabic.ttf') format('truetype');
}
/* end Fonts*/

.nav-fb:hover {
    background-color: #1877F2 !important;
}

.nav-ws:hover {
    background-color: #25D366 !important;
}

.nav-yt:hover {
    background-color: #FF0000 !important;
}

.nav-ig:hover {
    background-color: #E1306C !important;
}


.nav-item {
    font-family: 'Alexandria', sans-serif;
}

.nav-item:hover , .nav-link:hover {
    border-bottom: 1px solid #FB8500 !important;
    color: #FB8500 !important;
}

.nav-link {
    text-align: right !important;
}

/* banner */ 

.banner {
    background-image: url(https://res.cloudinary.com/daeuundyc/image/upload/v1732377418/Walid_Project/banner-background.png);
    color: aliceblue !important;
    padding: 0px;
}

.banner-img-area {
    height: 50dvh;
    width: 100%;
    object-fit: cover;
    
}

.banner-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.banner-txt-erea {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    font-family: 'Alexandria', sans-serif;
    padding: 0px 4rem;
}


.banner-sm {
    width: 100% !important;
}

.banner-name {
    font-family: 'Diwani', sans-serif !important;
    color: orange !important;
    font-size: 8rem !important;
    margin-top: 2rem;
}

.banner-welcom {
    font-family: 'arabic-hand', sans-serif;
    font-size: 2rem !important;
}