body {
    max-width: 100vw !important;
}

/* fonts */
@font-face {
    font-family: 'Diwani';
    src: url('./fonts/arfonts-samt-7017.ttf') format('truetype');
}
@font-face {
    font-family: 'Maghribi';
    src: url('./fonts/maghribi.ttf') format('truetype');
}
@font-face {
    font-family: 'arabic-hand';
    src: url('./fonts/hand-arabic.ttf') format('truetype');
}
/* end Fonts*/

.nav-fb:hover {
    background-color: #1877F2 !important;
}

.nav-ws:hover {
    background-color: #25D366 !important;
}

.nav-yt:hover {
    background-color: #FF0000 !important;
}

.nav-ig:hover {
    background-color: #E1306C !important;
}


.nav-item {
    font-family: 'Alexandria', sans-serif;
}

.nav-item:hover , .nav-link:hover {
    border-bottom: 1px solid #FB8500 !important;
    color: #FB8500 !important;
}

.nav-link {
    text-align: right !important;
}

/* banner */ 

.banner {
    background-image: url(https://res.cloudinary.com/daeuundyc/image/upload/v1732377418/Walid_Project/banner-background.png);
    color: aliceblue !important;
    padding: 0px;
}

.banner-img-area {
    height: 80dvh;
    width: 100%;
    object-fit: cover;
    position: relative;
    
}

.banner-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position:absolute;
    bottom: 0px;
}

.banner-txt-erea {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: start !important;
    font-family: 'Alexandria', sans-serif;
    padding: 0px 4rem;
}


.banner-sm {
    width: 100% !important;
}

.banner-name {
    font-family: 'Diwani', sans-serif !important;
    color: orange !important;
    font-size: 12rem !important;
    margin-top: 4rem;
}

.banner-welcom {
    font-family: 'Maghribi', sans-serif;
    font-size: 2rem !important;
}

.banner-mobile {
    background-image: url(https://res.cloudinary.com/daeuundyc/image/upload/v1732377418/Walid_Project/banner-background.png);
    color: aliceblue !important;
    height: 90dvh !important;
}

.banner-img-mobile {
    width: 100%;
}

.banner-txt-erea-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.banner-name-mobile {
    font-family: 'Diwani', sans-serif !important;
    color: orange !important;
    font-size: 6rem !important;
    margin-top: 2rem;
}

.banner-welcom-mobile {
    font-family: 'Maghribi', sans-serif;
    font-size: 1.5rem !important;
}