body {
    max-width: 100vw !important;
    background-color: azure !important;
}

/* fonts */
@font-face {
    font-family: 'Diwani';
    src: url('../fonts/arfonts-samt-7017.ttf') format('truetype');
}
@font-face {
    font-family: 'Maghribi';
    src: url('../fonts/maghribi.ttf') format('truetype');
}
@font-face {
    font-family: 'arabic-hand';
    src: url('../fonts/hand-arabic.ttf') format('truetype');
}

@font-face {
    font-family: 'arabic-pro';
    src: url('../fonts/arabic-pro.ttf') format('truetype');
}
/* end Fonts*/

.nav-fb:hover {
    background-color: #1877F2 !important;
}

.nav-ws:hover {
    background-color: #25D366 !important;
}

.nav-yt:hover {
    background-color: #FF0000 !important;
}

.nav-ig:hover {
    background-color: #E1306C !important;
}


.nav-item {
    font-family: 'Alexandria', sans-serif;
}

.nav-item:hover , .nav-link:hover {
    border-bottom: 1px solid #FB8500 !important;
    color: #FB8500 !important;
}

.nav-link {
    text-align: center !important;
}

/* banner */ 

.banner {
    background-image: url(https://res.cloudinary.com/daeuundyc/image/upload/v1732377418/Walid_Project/banner-background.png);
    color: aliceblue !important;
    padding: 2rem 0rem;
}

.banner-img-area {

    width: 100%;
    object-fit: cover;
    position: relative;
    
}

.banner-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position:absolute;
    bottom: 0px;
}

.banner-txt-erea {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: start !important;
    font-family: 'Alexandria', sans-serif;
    padding: 0px 4rem;
}


.banner-sm {
    width: 100% !important;
}

.banner-name {
    font-family: 'Diwani', sans-serif !important;
    color: orange !important;
    font-size: 12rem !important;
    margin-top: 4rem;
}

.banner-welcom {
    font-family: 'Maghribi', sans-serif;
    font-size: 2rem !important;
}

.banner-mobile {
    background-image: url(https://res.cloudinary.com/daeuundyc/image/upload/v1732377418/Walid_Project/banner-background.png);
    color: aliceblue !important;

}

.banner-img-mobile {
    width: 100%;
}

.banner-txt-erea-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.banner-name-mobile {
    font-family: 'Diwani', sans-serif !important;
    color: orange !important;
    font-size: 6rem !important;
    margin-top: 2rem;
}

.banner-welcom-mobile {
    font-family: 'Maghribi', sans-serif;
    font-size: 1.5rem !important;
}


.section-whoarewe {
    padding: 3rem 1rem !important;
}

/* section-articles */

.section-articles {
    background-color: #ffffff !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    margin-bottom: 2rem;
}

.section-videos {
    background-color: #ffffff !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    margin-bottom: 2rem;
}

.section-articles-title, .section-bio {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.section-title {
    font-family: 'Maghribi', sans-serif !important;
    color: orange !important;
    font-size: 2.5rem;
    border-bottom: 3px solid #FB8500;
    margin-bottom: 1rem !important;
    
}

.card-img-lg {
    height: 50dvh !important;
    width: 100% !important;
    object-fit: cover;
}

.cards-row {
    max-height: 300px;
}

.articles-card {
    background-color: #1877F2;
}

.car-icons {
    background-color: #1877F2 !important;
    border-radius: 100%;
}



.card-txt-lg {
   background: linear-gradient(
    to top,
    rgb(0, 0, 0),
    rgba(255, 255, 255, 0) 
);
    color: #f1f1f1;
    height: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.card-title {
    font-family: 'arabic-pro', sans-serif !important;
}

.btn-more {
    background-color: #FB8500 !important;
    font-family: 'Alexandria', sans-serif !important;
    color: #f1f1f1 !important;
    font-size: 1.2rem !important;
}

.btn-more:hover {
    background-color: #ffae00 !important;
}



.section-bio-title {
    font-family: 'Maghribi', sans-serif !important;
    color: #1877F2 !important;
    font-size: 2.5rem;
    border-bottom: 3px solid #1877F2;
}

.bio-row {
    display: flex;
    text-overflow: hide;
}

.bio-img {
    height: auto;
    width: 60%;
    object-fit: cover;
    border-radius: 100%;
}

.bio-col-txt, .bio-col-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bio-txt {
    display: flex;
    flex-wrap: wrap;
    text-align: end;
    font-family: 'Alexandria', sans-serif !important;
}


.article-view-title {
    font-family: 'Alexandria', sans-serif !important;
    text-align: center !important;
    margin-bottom: 2rem !important;
}

.article-view-iframe {
    border-radius: 1rem;
    border: 1rem solid #FB8500;
    height: 80dvh !important;
}

.article-view-infos {
    font-family: 'Alexandria', sans-serif !important;;
}

.article-view-infos-col {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}