:root {
    --clr-background : #e7e4da;
}

body {
    max-width: 100vw !important;
    background-color: var(--clr-background) !important;
}

/* fonts */
@font-face {
    font-family: 'Diwani';
    src: url('../fonts/arfonts-samt-7017.ttf') format('truetype');
}
@font-face {
    font-family: 'Maghribi';
    src: url('../fonts/maghribi.ttf') format('truetype');
}
@font-face {
    font-family: 'arabic-hand';
    src: url('../fonts/hand-arabic.ttf') format('truetype');
}

@font-face {
    font-family: 'arabic-pro';
    src: url('../fonts/arabic-pro.ttf') format('truetype');
}
/* end Fonts*/

.nav-fb:hover {
    background-color: #1877F2 !important;
}

.nav-ws:hover {
    background-color: #25D366 !important;
}

.nav-yt:hover {
    background-color: #FF0000 !important;
}

.nav-ig:hover {
    background-color: #E1306C !important;
}


.nav-item {
    font-family: 'Alexandria', sans-serif;
}

.nav-item:hover , .nav-link:hover {
    border-bottom: 1px solid #FB8500 !important;
    color: #FB8500 !important;
}

.nav-link {
    text-align: center !important;
}

/* banner */ 

.banner {
    background-image: url(https://res.cloudinary.com/daeuundyc/image/upload/v1732377418/Walid_Project/banner-background.png);
    color: aliceblue !important;
    padding: 2rem 0rem;
}

.banner-img-area {

    width: 100%;
    object-fit: cover;
    position: relative;
    
}

.banner-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position:absolute;
    bottom: 0px;
}

.banner-txt-erea {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: start !important;
    font-family: 'Alexandria', sans-serif;
    padding: 0px 4rem;
}


.banner-sm {
    width: 100% !important;
}

.banner-name {
    font-family: 'Diwani', sans-serif !important;
    color: orange !important;
    font-size: 12rem !important;
    margin-top: 4rem;
}

.banner-welcom {
    font-family: 'Maghribi', sans-serif;
    font-size: 2rem !important;
}

.banner-mobile {
    background-image: url(https://res.cloudinary.com/daeuundyc/image/upload/v1732377418/Walid_Project/banner-background.png);
    color: aliceblue !important;

}

.banner-img-mobile {
    width: 100%;
}

.banner-txt-erea-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-name-mobile {
    font-family: 'Diwani', sans-serif !important;
    color: orange !important;
    font-size: 6rem !important;
    margin-top: 2rem;
}

.banner-welcom-mobile {
    font-family: 'Maghribi', sans-serif;
    font-size: 1.5rem !important;
}


.section-whoarewe {
    padding: 3rem 1rem !important;
}

/* section-articles */

.section-articles, .section-card {
    background-color: #ffffff !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border-top: 30px solid #1877F2;
}

.section-videos {
    background-color: #ffffff !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    margin-bottom: 2rem;
}

.section-articles-title, .section-bio {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.section-title {
    font-family: 'Maghribi', sans-serif !important;
    color: #1877F2 !important;
    font-size: 2.5rem;
    border-bottom: 3px solid #1877F2;
    margin-bottom: 1rem !important;
    
}

.card-img-lg {
    height: 50dvh !important;
    width: 100% !important;
    object-fit: cover;
}

.cards-row {
    max-height: 300px;
}

.articles-card {
    background-color: #1877F2;
}

.car-icons {
    background-color: #1877F2 !important;
    border-radius: 100%;
}



.card-txt-lg {
   background: linear-gradient(
    to top,
    rgb(0, 0, 0),
    rgba(255, 255, 255, 0) 
);
    color: #f1f1f1;
    height: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.card-title {
    font-family: 'arabic-pro', sans-serif !important;
}

.btn-more {
    background-color: #FB8500 !important;
    font-family: 'Alexandria', sans-serif !important;
    color: #f1f1f1 !important;
    font-size: 1.2rem !important;
    border-radius: 2rem !important;
}

.btn-more:hover {
    background-color: #ffae00 !important;
}



.section-bio-title {
    font-family: 'Maghribi', sans-serif !important;
    color: #1877F2 !important;
    font-size: 2.5rem;
    border-bottom: 3px solid #1877F2;
}

.bio-row {
    display: flex;
    text-overflow: hide;
}

.bio-img {
    height: auto;
    width: 60%;
    object-fit: cover;
    border-radius: 100%;
}

.bio-col-txt, .bio-col-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bio-txt {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    font-family: 'Alexandria', sans-serif !important;
    direction: rtl;
}


.article-view-title {
    font-family: 'Alexandria', sans-serif !important;
    text-align: center !important;
    margin-bottom: 2rem !important;
}

.article-view-iframe {
    border-radius: 1rem;
    border: .5rem solid #1877F2;
    height: 70dvh !important;
}

.article-view-infos {
    font-family: 'Alexandria', sans-serif !important;;
}

.article-view-infos-col {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.form-create {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    background-color: #ffffff !important;
    border: 0 !important;
    border-radius: 1rem !important;
    padding: 2rem;
    font-family: 'Alexandria', sans-serif;
}

.form-label {
    margin-top: 1.5rem !important;
    direction: rtl !important;
    text-align: right !important;
}

.create-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-input-txt {
    direction: rtl;
    width: 100% !important;;
}

.form-title {
    text-align: center !important;
    justify-self: center;
}

.modal-title {
    direction: rtl;
    text-align: center;
}

.btn-modal-watch {
    background-color: #FF0000 !important;
    color: #FFFFFF !important;
}

.card-all:hover .card-text {
    display: none;
}

#searchAll, .searchAll-text, .article-view-title, .article-view-infos-col {
    direction: rtl;
}

.col-search {
    font-family: 'Alexandria', sans-serif;
}

.link {
    text-decoration: none;
}

.article-infos {
    background-color: #fff;
    border-radius: 2rem;
    font-size: 1.5rem !important;
    padding-top: 2rem !important;
}

.article-resume {
    font-family: 'Alexandria', sans-serif;
    direction: rtl;
    font-size: 1.1rem;
}

.copyrights-barr {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.copyrights-text {
    font-size: .7rem;
    font-family: 'Alexandria', sans-serif;
    color: #f1f1f1;
    text-align: center;
    margin-top: .5rem;
    direction: rtl;
}

.card-img-phone {
    width: 100%;
    object-fit: contain;
    border-radius: 1rem;
}

.card-title-phone {
    font-family: 'Alexandria', sans-serif;
    font-size: .8rem;
    font-weight: 600;
}

.card-articles-phone {
    text-decoration: none;
    color: #000;
}