{% extends 'website/layout.html' %}


{% block body %}

<section class="container-fluid section-banner">
    <div class="row banner justify-content-center d-none d-md-flex">
        <div class="col-12 col-lg-3">
        </div>
        <div class="col-12 col-lg-4 col-md-6 banner-txt-erea ">
            <span class="banner-txt-1 text-center mt-2 banner-welcom"> مرحبا بكم في الموقع الرسمي للباحث </span>
            <h1 class="banner-txt-2 text-center banner-name"> وليد موحن </h1>
            <span class="banner-txt-1 text-center mt-2 banner-welcom"> حيث تجدون اخر مقالاتنا و كتبنا العلمية و كذلك أخر المقالات المختلفة في شتى الحقول العلمية من دكاترة و باحثين أجلاء            </span>
        </div>
        <div class="col-12 col-lg-5 col-md-6 banner-img-area">
            <img src="https://res.cloudinary.com/daeuundyc/image/upload/v1732406623/Walid_Project/elchofa1m1ipbzikwqcw.png" class="banner-img" alt="walid Mouhan Picture">
        </div>
    </div>
    <div class="row banner-mobile justify-content-center d-flex d-md-none">
        <div class="col-12 banner-img-area-mobile mt-2">
            <img src="https://res.cloudinary.com/daeuundyc/image/upload/v1732406623/Walid_Project/elchofa1m1ipbzikwqcw.png" class="banner-img-mobile" alt="walid Mouhan Picture">
        </div>
        <div class="col-12 banner-txt-erea-mobile">
            <span class="banner-txt-1 text-center mt-2 banner-welcom-mobile"> مرحبا بكم في الموقع الرسمي للباحث </span>
            <h1 class="banner-txt-2 text-center banner-name-mobile"> وليد موحن </h1>
            <span class="banner-txt-1 text-center  banner-welcom-mobile"> حيث تجدون اخر مقالاتنا و كتبنا العلمية و كذلك أخر المقالات المختلفة في شتى الحقول العلمية من دكاترة و باحثين أجلاء            </span>
        </div>
    </div>
</section>

<section></section>

{% endblock %}