{% extends 'website/layout.html' %}


{% block body %}

<div class="container-fluid">
    <div class="row banner justify-content-center">
        <div class="col-12 col-lg-6 banner-txt-erea">
            <span class="banner-txt-1 text-center mt-2 banner-welcom"> مرحبا بكم في الموقع الرسمي للباحث </span>
            <h1 class="banner-txt-2 text-center banner-name"> وليد موحن </h1>
        </div>
        <div class="col-12 col-lg-6 banner-img-area">
            <img src="https://res.cloudinary.com/daeuundyc/image/upload/v1732406623/Walid_Project/elchofa1m1ipbzikwqcw.png" class="banner-img" alt="walid Mouhan Picture">
        </div>
        <!--
            <img src="https://res.cloudinary.com/daeuundyc/image/upload/v1732378777/Walid_Project/zppqdw3ybqkzhfdqftj6.png" class="d-none d-lg-block" alt="">
            <img src="https://res.cloudinary.com/daeuundyc/image/upload/v1732379061/Walid_Project/w4ehdmw14olxhizya20h.png" class="d-lg-none banner-sm" alt="">
        <div class="col-12 col-lg-6 banner-txt-erea">
            <span class="banner-txt-1 fs-6 fw-light d-6 text-center mt-2"> مرحبا بكم في الموقع الرسمي للباحث </span>
            <h1 class="banner-txt-2 text-center "> وليد موحن </h1>
                </div>
        <div class="col-12 col-lg-6 banner-img">
            <img src="https://res.cloudinary.com/daeuundyc/image/upload/v1732374402/Walid_Project/Walid-PNG.png" class="banner-img" alt="">
        </div>
    -->
    </div>
</div>

{% endblock %}