{% extends 'website/layout.html' %}


{% block body %}

<div class="container">


</div>
<section class="container section-banner">
    <div class="row banner justify-content-center d-none d-md-flex">

        <div class="col-12 col-lg-6 col-md-6 banner-txt-erea ">
            <span class="banner-txt-1 text-center mt-2 banner-welcom"> مرحبا بكم في الموقع الرسمي للباحث </span>
            <h1 class="banner-txt-2 text-center banner-name"> وليد موحن </h1>
            <span class="banner-txt-1 text-center mt-2 banner-welcom"> حيث تجدون اخر مقالاتنا و كتبنا العلمية و كذلك أخر
                المقالات المختلفة في شتى الحقول العلمية من دكاترة و باحثين أجلاء </span>
        </div>
        <div class="col-12 col-lg-5 col-md-6 banner-img-area">
            <img src="https://res.cloudinary.com/daeuundyc/image/upload/v1732406623/Walid_Project/elchofa1m1ipbzikwqcw.png"
                class="banner-img" alt="walid Mouhan Picture">
        </div>
    </div>
    <div class="row banner-mobile justify-content-center d-flex d-md-none">
        <div class="col-12 banner-img-area-mobile mt-2">
            <img src="https://res.cloudinary.com/daeuundyc/image/upload/v1732406623/Walid_Project/elchofa1m1ipbzikwqcw.png"
                class="banner-img-mobile" alt="walid Mouhan Picture">
        </div>
        <div class="col-12 banner-txt-erea-mobile">
            <span class="banner-txt-1 text-center mt-2 banner-welcom-mobile"> مرحبا بكم في الموقع الرسمي للباحث </span>
            <h1 class="banner-txt-2 text-center banner-name-mobile"> وليد موحن </h1>
            <span class="banner-txt-1 text-center  banner-welcom-mobile"> حيث تجدون اخر مقالاتنا و كتبنا العلمية و كذلك
                أخر المقالات المختلفة في شتى الحقول العلمية من دكاترة و باحثين أجلاء </span>
        </div>
    </div>
</section>


<section class="container section-whoarewe section-card mt-3" id="section-whoarewe">
    <div class="col-12 section-bio">
        <h1 class="section-bio-title">السيرة الذاتية</h1>
    </div>

    <div class="row bio-row">
        <div class="col-12 col-md-6 bio-col-img">
            <img src="https://res.cloudinary.com/daeuundyc/image/upload/v1732453816/Walid_Project/ygbdrkgcxwvc15obsroi.jpg"
                class="bio-img bio-img-mobile" alt="Walid-mouhan-reading-a-book">
        </div>
        <div class="col-12 col-md-6 bio-col-txt">
            <p class="bio-txt mt-2 bio-txt-mobile">
                وليد موحن هو باحث مغربي متخصص في دراسة التاريخ الحديث والمعاصر، مع اهتمام خاص بتاريخ شمال المغرب خلال
                الفترة الاستعمارية والحماية. تُركز أبحاثه على فهم العلاقة بين القوى الاستعمارية والمغرب، خصوصًا في سياق
                الحماية الإسبانية والفرنسية، وتأثيرها على الأوضاع السياسية والاقتصادية والاجتماعية في البلاد.

                يتميز الباحث بتناول قضايا معقدة مثل الثورات الشعبية، مثل ثورة بوحمارة، وتأثير القروض الأجنبية في إضعاف
                السيادة المغربية قبيل فرض الحماية. كما يستكشف مسارات الحركة الوطنية المغربية، ودورها في مقاومة الاحتلال
                واستعادة السيادة الوطنية، مع تسليط الضوء على الأحداث الكبرى التي ساهمت في تشكيل المشهد التاريخي لشمال
                المغرب.

                إلى جانب اهتمامه بالتاريخ المحلي، يقدم وليد موحن مساهمات مميزة في مجال فلسفة التاريخ، حيث يناقش تطور
                النظريات التاريخية الكبرى مثل نظرية ابن خلدون عن تعاقب الحضارات، ونظريات ماركس وهيغل حول الحراك
                التاريخي. تتمحور جهوده حول نقد وتحليل هذه النظريات، وتوظيفها لفهم أعمق لديناميكيات التاريخ المغربي.

                من خلال كتاباته وأبحاثه، يسعى وليد موحن إلى توثيق وتحليل التراث التاريخي المغربي من منظور أكاديمي حديث،
                لإثراء المعرفة وإبراز الهوية المغربية التاريخية
            </p>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-12 col-lg-12">
            <section class="container-fluid section-articles" id="section-articles">
                <div class="col-12 section-articles-title">
                    <h1 class="section-title">أخر المقالات</h1>
                </div>
                <div class="row articles-car articles-large d-none d-lg-flex h-100 px-5">
                    <div id="cardCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
            
                                <div class="d-flex">
                                    {% for article in articles1 %}
                                    
                                        <div class="card m-2 w-50">
                                            <a href="{% url 'articles' article.id %}">
                                            <img src="{{ article.imgUrl.url }}" class="card-img-lg" alt="...">
                                            <div class="card-img-overlay card-txt-lg d-flex flex-wrap">
                                                <h5 class="card-title text-center"> {{ article.title }}
                                                </h5>
            
                                                <p class="card-text"><small>{{ article.created_at }}</small></p>
                                            
                                            </div>
                                        </a>
                                        </div>
                                    
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex">
                                    {% for article in articles2 %}
                                    
                                    <div class="card m-2 w-50">
                                        <a href="{% url 'articles' article.id %}">
                                        <img src="{{ article.imgUrl.url }}" class="card-img-lg" alt="...">
                                        <div class="card-img-overlay card-txt-lg d-flex flex-wrap">
                                            <h5 class="card-title text-center"> {{ article.title }}
                                            </h5>
            
                                            <p class="card-text"><small>{{ article.created_at }}</small></p>
                                        </div>
                                    </a>
                                    </div>
                                
                                    {% endfor %}
            
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#cardCarousel" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon car-icons" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#cardCarousel" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon car-icons" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                    <div class="btn-div d-flex justify-content-center">
                        <div class="btn btn-more w-75">إطلع على جميع المقالات</div>
                    </div>
                </div>
                <div class="row articles-car articles-large d-flex d-lg-none">
                    <div id="cardCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for article in articles1 %}
                            <a href="{% url 'articles' article.id %}">
                            <div class="carousel-item active">
                                <div class="d-flex">
                                    <div class="card m-2 w-100">
                                        <img src="https://res.cloudinary.com/daeuundyc/image/upload/v1732417607/Walid_Project/syt2cs2chj2quwrb4mv3.jpg"
                                            class="card-img-lg" alt="...">
                                        <div class="card-img-overlay card-txt-lg">
                                            <h5 class="card-title text-center"> {{ article.title }}
                                            </h5>
            
                                            <p class="card-text"><small> {{article.created_at}} </small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                            {% endfor %}
            
                            <a class="carousel-control-prev" href="#cardCarousel" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon car-icons" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#cardCarousel" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon car-icons" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
            
                    </div>
                    <div class="btn-div d-flex justify-content-center">
                        <div class="btn btn-more w-75">إطلع على جميع المقالات</div>
                    </div>
                </div>
            </section>

            <section class="container-fluid section-Videos section-card" id="section-Videos">
                <div class="col-12 section-articles-title">
                    <h1 class="section-title">أخر الفيديوهات</h1>
                </div>
            
                <div class="row articles-car articles-large d-none d-lg-flex h-100 px-5">
                    <div id="cardCarousel-video" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="d-flex">
                                    <div class="card m-2 w-50">
                                        <iframe src="https://www.youtube.com/embed/6H4HkWnA54U?si=e8czkfJ3O09E9lIN"
                                            class="card-img-lg" title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen>
                                        </iframe>
                                        <div class="card-img-overlay card-txt-lg d-flex flex-wrap">
                                            <h5 class="card-title text-center"> من طريق الوحدة إلى طريق التنمية :محطة من محطات بناء
                                                تاريخ المغرب الراهن. تقديم :ذ.وليد موحن.
                                            </h5>
            
                                            <p class="card-text"><small>تمت الإضافة قبل 5 أيام</small></p>
                                        </div>
                                    </div>
                                    <div class="card m-2 w-50">
                                        <iframe src="https://www.youtube.com/embed/6H4HkWnA54U?si=e8czkfJ3O09E9lIN"
                                            class="card-img-lg" title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen>
                                        </iframe>
                                        <div class="card-img-overlay card-txt-lg d-flex flex-wrap">
                                            <h5 class="card-title text-center"> من طريق الوحدة إلى طريق التنمية :محطة من محطات بناء
                                                تاريخ المغرب الراهن. تقديم :ذ.وليد موحن.
                                            </h5>
            
                                            <p class="card-text"><small>تمت الإضافة قبل 5 أيام</small></p>
                                        </div>
                                    </div>
                                    <div class="card m-2 w-50">
                                        <iframe src="https://www.youtube.com/embed/6H4HkWnA54U?si=e8czkfJ3O09E9lIN"
                                            class="card-img-lg" title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen>
                                        </iframe>
                                        <div class="card-img-overlay card-txt-lg d-flex flex-wrap">
                                            <h5 class="card-title text-center"> من طريق الوحدة إلى طريق التنمية :محطة من محطات بناء
                                                تاريخ المغرب الراهن. تقديم :ذ.وليد موحن.
                                            </h5>
            
                                            <p class="card-text"><small>تمت الإضافة قبل 5 أيام</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex">
                                    <div class="card m-2 w-50">
                                        <iframe src="https://www.youtube.com/embed/6H4HkWnA54U?si=e8czkfJ3O09E9lIN"
                                            class="card-img-lg" title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen>
                                        </iframe>
                                        <div class="card-img-overlay card-txt-lg d-flex flex-wrap">
                                            <h5 class="card-title text-center"> من طريق الوحدة إلى طريق التنمية :محطة من محطات بناء
                                                تاريخ المغرب الراهن. تقديم :ذ.وليد موحن.
                                            </h5>
            
                                            <p class="card-text"><small>تمت الإضافة قبل 5 أيام</small></p>
                                        </div>
                                    </div>
                                    <div class="card m-2 w-50">
                                        <iframe src="https://www.youtube.com/embed/6H4HkWnA54U?si=e8czkfJ3O09E9lIN"
                                            class="card-img-lg" title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen>
                                        </iframe>
                                        <div class="card-img-overlay card-txt-lg d-flex flex-wrap">
                                            <h5 class="card-title text-center"> من طريق الوحدة إلى طريق التنمية :محطة من محطات بناء
                                                تاريخ المغرب الراهن. تقديم :ذ.وليد موحن.
                                            </h5>
            
                                            <p class="card-text"><small>تمت الإضافة قبل 5 أيام</small></p>
                                        </div>
                                    </div>
                                    <div class="card m-2 w-50">
                                        <iframe src="https://www.youtube.com/embed/6H4HkWnA54U?si=e8czkfJ3O09E9lIN"
                                            class="card-img-lg" title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen>
                                        </iframe>
                                        <div class="card-img-overlay card-txt-lg d-flex flex-wrap">
                                            <h5 class="card-title text-center"> من طريق الوحدة إلى طريق التنمية :محطة من محطات بناء
                                                تاريخ المغرب الراهن. تقديم :ذ.وليد موحن.
                                            </h5>
            
                                            <p class="card-text"><small>تمت الإضافة قبل 5 أيام</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#cardCarousel-video" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon car-icons" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#cardCarousel-video" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon car-icons" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                    <div class="btn-div d-flex justify-content-center">
                        <div class="btn btn-more w-75">إطلع على جميع المرئيات</div>
                    </div>
                </div>
            
            
                <div class="row articles-car articles-large d-flex d-lg-none">
                    <div id="cardCarousel-video" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="d-flex">
                                    <div class="card m-2 w-100">
                                        <iframe src="https://www.youtube.com/embed/6H4HkWnA54U?si=e8czkfJ3O09E9lIN"
                                            class="card-img-lg" title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen>
                                        </iframe>
                                        <div class="card-img-overlay card-txt-lg d-flex flex-wrap">
                                            <h5 class="card-title text-center"> من طريق الوحدة إلى طريق التنمية :محطة من محطات بناء
                                                تاريخ المغرب الراهن. تقديم :ذ.وليد موحن.
                                            </h5>
            
                                            <p class="card-text"><small>تمت الإضافة قبل 5 أيام</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="d-flex">
                                    <div class="card m-2 w-100">
                                        <iframe src="https://www.youtube.com/embed/6H4HkWnA54U?si=e8czkfJ3O09E9lIN"
                                            class="card-img-lg" title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen>
                                        </iframe>
                                        <div class="card-img-overlay card-txt-lg d-flex flex-wrap">
                                            <h5 class="card-title text-center"> من طريق الوحدة إلى طريق التنمية :محطة من محطات بناء
                                                تاريخ المغرب الراهن. تقديم :ذ.وليد موحن.
                                            </h5>
            
                                            <p class="card-text"><small>تمت الإضافة قبل 5 أيام</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                        </div>
                        <a class="carousel-control-prev" href="#cardCarousel-video" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon car-icons" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#cardCarousel-video" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon car-icons" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                    <div class="btn-div d-flex justify-content-center">
                        <div class="btn btn-more w-75">إطلع على جميع المرئيات</div>
                    </div>
                </div>
            
            
            
            </section>
        </div>
    </div>
</div>





{% endblock %}